# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_FULL_NAME=

# JWT
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Encryption secret key
DEVICE_CREDENTIAL_SECRET_KEY=

# Others
ENV=
POLLING_INTERVAL=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
